{% extends "base.html" %}

{% block titulo %}
<title>Lista de Clientes- Persona Juridica</title>
{% endblock titulo %}

{% block contenido %}
<h1 style="color:purple;">
  BIENVENIDO A ENTRE HILOS & COLORES
</h1>

<h3>PERSONA JURIDICA:</h3>
<br><br>
<form action="{% url 'buscar_pj' %}" method="post">
  {% csrf_token %}
  <input type="text" name="busqueda">
  <input type="submit" value="Razon Social o RUC">
</form>
<br>
<ul>
{% for elemento in person_juridica %}
  <li>
    {{ elemento.razon_social }}, {{ elemento.numero_ruc }} - CORREO {{ elemento.correo }}
  </li>
{% endfor %}
</ul>
<a href="{% url 'lista_persona_juridica' %}">Lista Completa </a>
<a href="{% url 'crear_pj' %}">Crear PJ</a>
{% endblock contenido %}