{% extends "base.html" %}

{% block titulo %}
<title>Lista de Productos</title>
{% endblock titulo %}

{% block contenido %}
<h1 style="color:purple;">
  BIENVENIDO A LA BODEGA DE "DON PEPE"
</h1>

<h3>PRODUCTOS:</h3>
<a href="{% url 'lista_producto' %}">Lista Completa </a>
<a href="{% url 'crear_producto' %}">Crear Producto</a>
<br><br>
<form action="{% url 'buscar_producto' %}" method="post">
  {% csrf_token %}
  <input type="text" name="busqueda">
  <input type="submit" value="Buscar por Codigo de Producto">
</form>
<br>
<table class="table">
  <tbody>
    <tr>
      <th>ID</th>
      <th>Codigo de Producto</th>
      <th>Categoria</th>
      <th>Cantidad</th>
      <th>Tamaño</th>
      <th>Forma</th>
      <th>Precio</th>
      <th>Material</th>
    </tr>
  </tbody>
  {% for elemento in producto %}
  <tr>
    <td>{{ elemento.id }}</td>
    <td>{{ elemento.codigo_producto }}</td>
    <td>{{ elemento.categoria }}</td>
    <td>{{ elemento.cantidad }}</td>
    <td>{{ elemento.tamaño }}</td>
    <td>{{ elemento.forma }}</td>
    <td>{{ elemento.precio }}</td>
    <td>{{ elemento.material }}</td>
    <td>
      {% if user == producto.creador %}
      <a class="btn btn-link" href="{% url 'editar_producto' producto.id %}">editar</a>
      {% endif%}
    </td>
    <td>
      {% if user == cliente.producto %}
      <form action="{% url 'eliminar_producto' producto.id %}" method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-link" value="eliminar"/>
      </form>
      {% endif %} 
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock contenido %}